* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 28px;
  color: #383838b3;
}

a:focus {
  outline: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--c-page-bg-color);
}

// 修改input的自动填充的样式
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px var(--c-page-bg-color) inset;
  -webkit-text-fill-color: var(--c-regular-text-color);
  caret-color: #fff;
  -webkit-transition-delay: 111111s;
  -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: var(--c-regular-text-color);
  transition: background-color 5000s ease-in-out 0s !important;
}
